.Rproj.user
.Rhistory
.RData
.Ruserdata

#ignore following file formats:
*.pdf
*.xlsx
*.rda
*.log
*.tex
*.html
*.csv

#ignore folders
00_alt/
01_Data/
02_Freitexte/
03_UnterlagenBesprechungen/
04_Abbildungen
